@page "/RoadMap"

<MudContainer>
    <h3>RoadMap</h3>

    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.body2">
                More sorting options
            </MudText>
            <MudText Typo="Typo.body1">
                Possibly make a review system of some sort
            </MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Secondary" Href="https://forms.gle/AVjzaJbvUf2KEuHb6" Target="_blank">Give Feedback</MudButton>
        </MudCardActions>
    </MudCard>
</MudContainer>
